In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s1 = Series([1, 2, 3], index=['A', 'B', 'C'])

In [3]:
s1

A    1
B    2
C    3
dtype: int64

In [6]:
s2 = Series([4, 5, 6, 7], index=['B', 'C', 'D', 'E'])

In [7]:
s2

B    4
C    5
D    6
E    7
dtype: int64

In [9]:
s1 + s2

A    NaN
B    6.0
C    8.0
D    NaN
E    NaN
dtype: float64

# Dataframe的运算

In [23]:
df1 = DataFrame(np.arange(4).reshape(2, 2), index=['A', 'B'], columns=['BJ', 'SH'])

In [24]:
df1

   BJ  SH
A   0   1
B   2   3

In [25]:
df2 = DataFrame(np.arange(9).reshape(3, 3), index=['A', 'B', 'C'], columns=['BJ', 'SH', 'GZ'])

In [26]:
df2

   BJ  SH  GZ
A   0   1   2
B   3   4   5
C   6   7   8

In [27]:
df1 + df2

    BJ  GZ   SH
A  0.0 NaN  2.0
B  5.0 NaN  7.0
C  NaN NaN  NaN

In [28]:
df3 = DataFrame([[1, 2, 3], [4, 5, np.nan], [7, 8, 9]], index=['A', 'B', 'C'], columns=['c1', 'c2', 'c3'])

In [29]:
df3

   c1  c2   c3
A   1   2  3.0
B   4   5  NaN
C   7   8  9.0

In [30]:
df3.sum()

c1    12.0
c2    15.0
c3    12.0
dtype: float64

In [31]:
df3.sum(axis=1)

A     6.0
B     9.0
C    24.0
dtype: float64

In [32]:
df3.min()

c1    1.0
c2    2.0
c3    3.0
dtype: float64

In [33]:
df3.min(axis=1)

A    1.0
B    4.0
C    7.0
dtype: float64

In [34]:
df3.max()

c1    7.0
c2    8.0
c3    9.0
dtype: float64

In [35]:
df3.max(axis=1)

A    3.0
B    5.0
C    9.0
dtype: float64

In [ ]:
df3.